
notas/CRUD.cs
notas\.vs\notas\v15\Server\sqlite3\storage.ide
notas\.vs\notas\v15\Server\sqlite3\storage.ide-shm
.vs/notas/v15/.suo
.vs/notas/v15/.suo
notas/obj/Debug/notas.exe
notas/obj/Debug/notas.pdb
notas/bin/Debug/notas.exe
notas/bin/Debug/notas.pdb
